.App {
  text-align: center;
  background-color: #020d1f;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  margin: 0 auto;
  height: 100vh;
  max-width: 800px;
  min-width: 800px;
  background-color: #020d1f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navlink{
  color: #0E4749;
  text-decoration: none;
}

.navlink:hover{
  color: #E55812;
}

.current {
  color: #E55812;;
  text-decoration: underline;
}

.current:hover{
  color: #FDF0D5;
}
